*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #141111;
    color: whitesmoke;
}

body {
    padding: 0px 20%;
}

nav{
    margin-left: 25px;
    margin-right: 15px;
}
h1{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 20px;
    color: #fffafa;
}
.over{
    margin-left: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}

aside{
    font-size: 12px;
    color: #bec8f0;
}

h2{
    padding-bottom: 30px;
    font-size: 12px;
    color: #bec8f0;
    letter-spacing: 2px;
}

.parent {
    
    min-height: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.box, p, span, h6{
    background-color: #1c1c3b;
    text-align: center;
    color: #fffff9;
}

.box{
    /* margin-left: 20px;
    margin-right: 20px; */
    padding-bottom: 20px;
    font-size: 12px ;
    font-weight: bold;
    color: #bec8f0;
    position: relative;
    cursor: pointer;

}

p{
    font-size: 30px;
}

h6{
    font-size:8px;
    letter-spacing: 4px;
    text-transform: uppercase ;
    color: #bec8f0;
}

span{
    color: rgb(12, 110, 79);

}

.box:nth-child(1){
    border-top: 3px solid dodgerblue;
    padding-top: 30%;
}

.box:nth-child(2){
    border-top: 3px solid dodgerblue;
    padding-top: 30%;
}

.gradient-strip2{
    background-image: linear-gradient(to right, 
    #f58529,
    #feda77,
    #dd2a7b, 
    #8134af, 
    #515bd4);

    height: 3px;
}

.box:nth-child(3){
}

.box:nth-child(4){
    padding-top: 30%;
    border-top: 3px solid red;
}

.parent{
    min-height: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr,));
    gap:20px;

}

.box1{
    background-color: #1c1c3b;

    color: #bec8f0;
    height: 135px;
    padding-top: 20px;
    text-align: start;
    padding-left: 20px;
    border-radius: 6px;

}

.box1 img{
    margin-left: 120px;
    /* position: relative;
    right: -130px; */
}

#p {
  text-align: start;
  padding-top: 30px;
  font-weight: bold;
}
#p span{
    font-size: 12px;
}
